<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{myForm.valid}}
    Form invalid ? {{myForm.invalid}}
  </div>
  <div>
    <label for="firstname">Firstname</label>
    <input name="firstname" type="text" [(ngModel)]="user.firstname" #firstname="ngModel" required minlength="3" maxlength="15">
  </div>
  <div *ngIf="firstname.errors">
    <span *ngIf="firstname.errors['required']">Le prénom est requis</span>
    <span *ngIf="firstname.errors['minlength']">Le prénom doit comporter au moins 3 caractères</span>
    <span *ngIf="firstname.errors['maxlength']">Le prénom ne doit pas dépasser 15 caractères</span>
  </div>
  <div>
    <label for="lastname">Lastname</label>
    <input name="lastname" type="text" [(ngModel)]="user.lastname" #lastname="ngModel" required minlength="3" maxlength="15">
  </div>
  <div *ngIf="lastname.errors">
    <span *ngIf="lastname.errors['required']">Le nom est requis</span>
    <span *ngIf="lastname.errors['minlength']">Le nom doit comporter au moins 3 caractères</span>
    <span *ngIf="lastname.errors['maxlength']">Le nom ne doit pas dépasser 15 caractères</span>
  </div>
  <div>
    <label for="email">Email</label>
    <input name="email" type="email" [(ngModel)]="user.email" #email="ngModel" required email>
  </div>
  <div *ngIf="email.errors">
    <span *ngIf="email.errors['required']">Le champ email est requis</span>
    <span *ngIf="email.errors['email']">L'email est invalide</span>
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" type="password" #password="ngModel" [(ngModel)]="user.password" required>
  </div>
  <div *ngIf="password.errors">
    <span *ngIf="password.errors['required']">Le champ password est requis</span>
  </div>
  <button type="submit">Sign Up</button>
</form>
